<%= simple_form_for @recipe do |f| %>
  <% if @recipe.errors.any? %>
    <p>
      <%= @recipe.errors.count %> prevented your recipe from being saved.
    </p>
  <% end %>
  <br />
  <ul>
    <% @recipe.errors.full_messages.each do |msg| %>
      <li>
        <%= msg %>
      </li>
    <% end %>
  </ul>

  <br />

  <div class='form-new'>
    Title: <%= f.text_field :title %>
    Directions: <%= f.text_area :description %>
    <%= f.input :image %>
  </div>

  <br />
    <h3>Category:</h3>
    <%= f.collection_check_boxes :category_ids, Category.all, :id, :title %>
  <br />

  <div class="row">
    <div class='col-md-6'>
      <div class="ingredients-title">
        <h3>Ingredients:</h3>
      </div>
      <div id="ingredients">
        <%= f.fields_for :ingredients, @recipe.ingredients.build do |ingredients_fields| %>
          Ingredient: <%= ingredients_fields.text_field :name %>
          <br />
        <% end %>
        <%= f.fields_for :ingredients, @recipe.ingredients.build do |ingredients_fields| %>
          Ingredient: <%= ingredients_fields.text_field :name %>
          <br />
        <% end %>
      </div>
    </div>

    <div class='directions col-md-4'>
      <div class="directions-title">
        <h3>Directions:</h3>
      </div>
      <div id="directions">
        <%= f.fields_for :directions, @recipe.directions.build do |directions_fields| %>
          Step: <%= directions_fields.text_field :step %>
          <br />
        <% end %>
        <%= f.fields_for :directions, @recipe.directions.build do |directions_fields| %>
          Step: <%= directions_fields.text_field :step %>
          <br />
        <% end %>
      </div>
    </div>
  </div>

  <%= f.button :submit, class: 'btn-primary form-submit' %>

<% end %>
