<%= form_for @recipe do |f| %>
  <% if @recipe.errors.any? %>
    <p>
      <%= @recipe.errors.count %> error(s) prevented your recipe from being saved.
    </p>
  <% end %>
  <br />
  <ul>
    <% @recipe.errors.full_messages.each do |msg| %>
      <li>
        <%= msg %>
      </li>
    <% end %>
  </ul>

  <br />

  <div class='form-new'>

      <%= f.text_field :title, placeholder: 'Title'%>

      <%= f.text_area :description, placeholder: 'Description'%>

      <%= f.file_field :image %>

      <%= f.text_area :instructions, placeholder: 'Instructions', rows: 8 %>  </div>

  <div class='categories'>
    <h3>Category:</h3>
    <p>
      <%= f.collection_check_boxes :category_ids, Category.all, :id, :title %>
    </p>
  </div>

  <div class="row">
    <div class='col-md-6'>
      <div class="ingredients-title">
        <h3>Ingredients:</h3>

        <%= render 'current_recipe_ingredients' %>
        
        <div id="ingredients">
          <%= f.fields_for :ingredients do |ff| %>

            <%= ff.label :name %>
            <%= ff.text_field :name %>

            <%= ff.label :quantity %>
            <% if !@recipe.id.nil? %>
              <%= ff.text_field :quantity %>
            <% else %>
               <%= ff.text_field :quantity, value: "#{ff.object.quantity_for_recipe(f.object.id)}" %>
            <% end %>

          <% end %>
        </div>
      </div>
    </div>
  </div>

  <%= f.button :submit, class: 'btn btn-primary form-submit' %>

<% end %>
</div>
