<%= simple_form_for @recipe, html: { multipart: true } do |f| %>
  <% if @recipe.errors.any? %>
    <p>
      <%= @recipe.errors.count %> prevented your recipe from being saved.
    </p>
  <% end %>
  <br />
  <ul>
    <% @recipe.errors.full_messages.each do |msg| %>
      <li>
        <%= msg %>
      </li>
    <% end %>
  </ul>

  <br />

  <div class='form-new'>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :image %>
  </div>

  <br />
    <h3>Category:</h3>
    <%= f.collection_check_boxes :category_ids, Category.all, :id, :title %>
  <br />

  <div class="row">
    <div class='col-md-6'>
      <div class="ingredients-title">
        <h3>Ingredients:</h3>
      </div>
      <div id="ingredients">
        <%= f.simple_fields_for :ingredients do |ingredient| %>
          <%= render 'ingredient_fields', f: ingredient %>
        <% end %>
        <%= link_to_add_association 'Add Ingredient', f, :ingredients, class: "btn btn-default add-button" %>
      </div>
    </div>

    <div class='directions col-md-4'>
      <div class="directions-title">
        <h3>Directions:</h3>
      </div>
      <div id="directions">
        <%= f.simple_fields_for :directions do |direction| %>
          <%= render 'direction_fields', f: direction %>
        <% end %>
        <%= link_to_add_association 'Add Step', f, :directions, class: "btn btn-default add-button add-step" %>
      </div>
    </div>
  </div>

  <%= f.button :submit, class: 'btn-primary form-submit' %>

<% end %>
