<%= form_for @recipe, html: { miltipart: true } do |f| %>
  <% if @recipe.errors.any? %>
    <p>
      <%= @recipe.errors.count %> error(s) prevented your recipe from being saved.
    </p>
  <% end %>
  <br />
  <ul>
    <% @recipe.errors.full_messages.each do |msg| %>
      <li>
        <%= msg %>
      </li>
    <% end %>
  </ul>

  <br />

  <div class='form-new'>
    Title: <%= f.text_field :title %>
    <br />
    Description: <%= f.text_area :description %>
    <br />
    <%= f.file_field :image %>
    <br />
    Instructions: <%= f.text_area :instructions, rows: 8 %>
  </div>


  <div class="row">
    <div class='col-md-6'>
      <div class="ingredients-title">
        <h3>Ingredients:</h3>
      </div>
      <div id="ingredients">
        <%=f.fields_for :ingredients do |ff| %>

          <%=ff.label :name %>
          <%=ff.text_field :name, value: " "%> <br><br>

          <%=ff.label :quantity%>
          <%=ff.text_field :quantity, value: " "%><br><br>
        <%end%>

      </div>
    </div>
  </div>

  <%= f.button :submit, class: 'btn-primary form-submit' %>

<% end %>
