<div class='main-content-show'>
  <div class='show-title-image'>
    <h2><%= @recipe.title%></h2>
    <%= image_tag @recipe.image.url(:medium), class: "recipe_image" %>
  </div>

  <br />

  <div class='show-categories'>
   <h3>Categories:</h3><% @categories.each do |category| %>
     <%= link_to category.title, category_path(category) %>
   <% end %>
 </div>

  <div class='show-description'>
    <h3>Description:</h3>
    <p>
      <%= @recipe.description %>
    </p>
  </div>

  <div class='show-instructions'>
    <h3>Instructions:</h3>
    <p>
      <%= @recipe.instructions %>
    </p>
  </div>

  <div class='show-ingredients-directions'>

    <div class='show-ingredients'>
      <h3>Ingredients:</h3>
      <ul>
        <% @recipe.recipe_ingredients.each do |recipe_ingredient|%>
           <li><%= recipe_ingredient.quantity %> <%= recipe_ingredient.ingredient.name %></li>
         <%end%>
      </ul>
    </div>

    <br />

  </div>

  <div class='show-links'>
    <%= link_to "back", root_path, class: "btn btn-default" %>
    <% if current_user == @recipe.user %>
      <%= link_to "edit", edit_recipe_path(@recipe), class: "btn btn-default" %>
      <%= link_to "delete", recipe_path(@recipe), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-default" %>
    <% end %>
  </div>


  <div class='add-comment'>
    <h4>Comments: </h4>
    <%= form_for @comment do |f| %>
      <%= f.text_field :content, placeholder: 'Leave a comment...' %>
      <%= f.hidden_field :recipe_id, value: @recipe.id %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.submit 'add comment' %>
    <% end %>
  </div>

  <div class='recipe-comments'>
    <% @recipe.comments.each do |comment| %>
      <h5><%= comment.user.email %> said:</h5>
      <p><%= comment.content %></p>
    <% end %>
  </div>
</div>
